__pycache__
bin
lib
lib64
include
pip-selfcheck.json
libexec
rhc_ansible_worker/contrib
rhc-worker-playbook.spec

# make dist && make wheels
/.eggs/
/build/
/dist/
/rhc_worker_playbook.egg-info/
/rhc_worker_playbook/constants.py
/wheels/
